.estiloCard{    
    margin: 50px;
    align-items: center;
}

.timg{  
    width: 75px;
    padding: 75px;
}

.description{   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorImagen{  
    width: 200px;
    height: 300px;
}